{
  "name": "{{project_name}}",
  "version": "0.0.0",
  "description": "{{project_description}}",
  "type": "module",
  "main": "dist/index.js",
  "types": "dist/index.d.ts",
  "keywords": [
    "typescript"
  ],
  "engines": {
    "node": ">=18.0.0"
  },
  "licenses": [
    {
      "type": "MIT"
    }
  ],
  "files": [
    "dist",
    "!dist/__tests__",
    "package.json",
    "README.md",
    "CHANGELOG.md"
  ],
  "exports": {
    ".": {
      "types": "./dist/index.d.ts",
      "import": "./dist/index.js"
    }
  },
  "scripts": {
    "prepare": "husky install && ts-patch install -s",
    "lint": "dprint check && eslint --cache .",
    "lint:fix": "dprint fmt && eslint --cache --fix .",
    "clean": "git clean -Xdf --exclude=\"!node_modules/**/*\" --exclude=\"!node_modules\" --exclude=\"!.idea\" --exclude=\"!.idea/**/*\" --exclude=\"!.husky\" --exclude=\"!.husky/**/*\"",
    "compile": "tsc",
    "test": "vitest --reporter=junit --reporter=basic --outputFile.junit=coverage/junit.xml",
    "release": "pnpm clean && pnpm build && pnpm lint && changeset publish",
    "build": "pnpm compile"
  },
  "author": "John Conley",
  "license": "MIT",
  "devDependencies": {
    "@rollup/plugin-typescript": "^11.1.6",
    "@typescript-eslint/eslint-plugin": "^8.4.0",
    "@typescript-eslint/parser": "^8.4.0",
    "@vitest/coverage-v8": "^2.0.5",
    "dprint": "^0.47.2",
    "eslint": "^9.9.1",
    "husky": "^9.1.5",
    "rollup-plugin-sourcemaps": "^0.6.3",
    "ts-patch": "^3.2.1",
    "typescript": "^5.5.4",
    "vitest": "^2.0.5"
  },
  "dependencies": {
    "@nrfcloud/ts-json-schema-transformer": "^3.1.0"
  }
}
